OPENWEATHER_API_KEY=
BUS_API_BASE_URL = http://localhost:5001/
#Bus setup
Stops = 
Lines = 
#Weather setup - use either coordinates or city name and country
Coordinates_LAT = 
Coordinates_LNG = 
City =  # City name
Country =  #Two letter country code