._*.py
__pycache__
__pycache__/*
.env
.gitignore
logs/*
debug_output.png
cache/*
.display_requirements_version;
types.json
operators.json
stations.txt
de421.bsp
de440.bsp
de441.bsp
.vscode/
__pycache__/
htmlcov/