# Version: 0.0.20 (2025-09-04) # AUTO-INCREMENT
# Add this file to pre-commit hook to auto-increment

# Actual requirements below
--extra-index-url https://www.piwheels.org/simple

certifi==2025.11.12
    # via
    #   -r requirements.in
    #   requests
charset-normalizer==3.4.4
    # via
    #   -r requirements.in
    #   requests
colorzero==2.0
    # via
    #   -r requirements.in
    #   gpiozero
gpiozero==2.0.1
    # via -r requirements.in
idna==3.11
    # via
    #   -r requirements.in
    #   requests
jetson-gpio==2.1.12
    # via waveshare-epd
lgpio==0.2.2.0
    # via -r requirements.in
pillow==11.3.0
    # via
    #   -r requirements.in
    #   waveshare-epd
pypng==0.20220715.0
    # via qrcode
python-dotenv==1.2.1
    # via -r requirements.in
qrcode==8.2
    # via -r requirements.in
requests==2.32.5
    # via -r requirements.in
rpi-gpio==0.7.1
    # via -r requirements.in
spidev==3.8
    # via -r requirements.in
typing-extensions==4.15.0
    # via qrcode
urllib3==2.6.0
    # via
    #   -r requirements.in
    #   requests
waveshare-epd @ git+https://github.com/waveshare/e-Paper.git@ecdd8cf#subdirectory=RaspberryPi_JetsonNano/python
    # via -r requirements.in

flask>=3.1.1
werkzeug>=3.1.4
requests-cache >= 1.2.1
skyfield>=1.49
humanize>=4.11.0
pyserial>=3.5
flask-cors==6.0.1
pydantic==2.11.9
cairosvg==2.8.2
niquests==3.16.1
