[Unit]
# Version: 0.0.3 (2024-12-21) # AUTO-INCREMENT
Description=Bluetooth Serial Port Service
After=bluetooth.target
Requires=bluetooth.target

[Service]
Type=simple
ExecStartPre=/bin/sh -c '\
    /usr/bin/rfcomm release all || true; \
    /usr/bin/rfcomm release 0 || true; \
    /usr/bin/rfcomm release rfcomm0 || true; \
    /bin/rm -f /dev/rfcomm0 || true'
ExecStartPre=/bin/sh -c '/usr/bin/hciconfig hci0 name "EPaperDisplay" && /usr/bin/hciconfig hci0 class 0x000100'
ExecStartPre=/bin/sh -c '/usr/bin/sdptool add --channel=1 SP || true'
ExecStart=/bin/sh -c '\
    /usr/bin/rfcomm watch hci0 1 /sbin/agetty rfcomm0 115200 linux'
Restart=always
RestartSec=5
ExecStopPost=/bin/sh -c '\
    /usr/bin/rfcomm release all || true; \
    /usr/bin/rfcomm release 0 || true; \
    /usr/bin/rfcomm release rfcomm0 || true; \
    /bin/rm -f /dev/rfcomm0 || true'

[Install]
WantedBy=multi-user.target 