[Unit]
# Version: 0.0.1 (2024-12-21) # AUTO-INCREMENT
Description=WebSerial Configuration Interface
After=network.target bluetooth.target
Wants=network.target bluetooth.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/display_programme/webserial_server.py
Environment=PYTHONUNBUFFERED=1
StandardOutput=append:/var/log/webserial.out
StandardError=append:/var/log/webserial.err
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target 